<section id="contact" class="contact-section">
  <h2>Contacto</h2>
  <ul class="contact-list">
    <li>
      <a href="mailto:raul.ibarra004@gmail.com" target="_blank">
        <i class="fas fa-envelope"></i>
        <span>raul.ibarra004&#64;gmail.com</span>
      </a>
    </li>
    <li>
      <a href="https://github.com/Clefox9820" target="_blank">
        <i class="fab fa-github"></i>
        github.com/Clefox9820
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/raul-ibarra-3a1803306/"
        target="_blank"
      >
        <i class="fab fa-linkedin"></i>
        linkedin.com/in/RaulIbarra
      </a>
    </li>
  </ul>
</section>
